
/*           Animations              */

.animation-transition-general{
    @include transition($general-transition-time, $transition-linear);
}

.animation-transition-fast{
    @include transition($fast-transition-time, $transition-linear);
}

.animation-transition-ultra-fast{
    @include transition($ultra-fast-transition-time, $transition-ease-in);
}

.form-control,
.input-group-addon,
.tagsinput,
.navbar .alert,
.panel-collapse.collapse-hover {
    @include transition($general-transition-time, $transition-linear);
}

.sidebar .nav a,
.table > tbody > tr .td-actions .btn,
.caret{
    @include transition($fast-transition-time, $transition-ease-in);
}

.btn{
    @include transition($ultra-fast-transition-time, $transition-ease-in);
}
.fa{
    width: 18px;
    text-align: center;
}
.margin-top{
    margin-top: 50px;
}

a[data-toggle="collapse"][aria-expanded="true"] .caret,
.btn[data-toggle="collapse"][aria-expanded="true"] .caret,
a.dropdown-toggle[aria-expanded="true"] .caret{
    @include rotate-180();
}

legend{
    font-size: $font-size-h4;
    font-weight: $font-weight-light;
}

.full-screen-map{
    position:relative;
    width:100%;
    height: calc(100% - 60px);
}
